VITE_API_URL=http://localhost:3001
VITE_LOCAL_MODE=true

POSTGRES_DB=carbontrack
POSTGRES_USER=carbontrack_app
POSTGRES_PASSWORD=change_this_password

PGADMIN_DEFAULT_EMAIL=admin@carbontrack.local
PGADMIN_DEFAULT_PASSWORD=change_this_password

//Este es un ejemplo de archivo .env para configurar las variables de entorno necesarias para el 
proyecto CarbonTrack. Asegúrate de cambiar las contraseñas y otros valores sensibles antes de
usarlo en un entorno de producción. por ende no funcionara si no es un .env